<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>contact</title>
</head>
<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>

	<div id="pagewrap">
		<div id="home">
		
		
			<ul id="nav">
				<li><a href="/">HOME</a></li>
				<li><a href="/products">PRODUCTS</a></li>
				<li><a href="/about">ABOUT</a></li>
				<li><a href="/contact">CONTACT</a></li>
				<li><a href="/login">LOG-IN</a></li>
			</ul>
			
			<h1>Digital Dirt Probe</h1>
		
		<h2>Our Contacts</h2>
			<br>
		<h4>The Owner and Founder</h4>
		<p>lane.schoff@student.cune.edu</p>
		
		
		<img src="/static/images/corn-field-1935_1920.jpg" width="1500" height="940" style="margin-top:-245px; opacity:.25;" alt=""/>
		
		
		
		
		</div>
	
	</div>
	
	
<body>
</body>
</html>
