<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>S.O.I.L</title>
</head>
<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
	<div id="pagewrap">
		<div id="home">
			
			<ul id="nav">
				<li><a href="/">HOME</a></li>
				<li><a href="/products">PRODUCTS</a></li>
				<li><a href="/about">ABOUT</a></li>
				<li><a href="/contact">CONTACT</a></li>
				<li><a href="/login">LOG-IN</a></li>
			</ul>
		
		<h1>Digital Dirt Probe</h1>
			
			
		<h2>Revolutionary Dirt Testing Probe</h2>
		<h3>Developed in the state of Nebraska</h3>
		
		
		<img src="static/images/corn-field-1935_1920.jpg" width="1500" height="940" style="margin-top:-165px; opacity:.25;" alt=""/>
		
		
		
	  </div>
	
	</div>
	
<body>

</body>
</html>
