<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>products</title>
</head>
<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
	
	<div id="pagewrap">
		<div id="home">
		
		
			<ul id="nav">
				<li><a href="/">HOME</a></li>
				<li><a href="/products">PRODUCTS</a></li>
				<li><a href="/about">ABOUT</a></li>
				<li><a href="/contact">CONTACT</a></li>
				<li><a href="/login">LOG-IN</a></li>
			</ul>
		
			<h1>Digital Dirt Probe</h1>
			
			
			
			
		<h2>Our Probe for Dirt Data Collection</h2>
		<p>This probe gets inserted into the dirt and it will consistantly give a farmer updates on the quality and health of their dirt in the fields. This will let farmers give quality care to their farm land to help benefit yield.</p>
		
		
		    <div class="main">
        <h2>Access Example Field Data</h2>
				
       

            <div class="wrap">
                <button type="submit">
					<a href="/field" class="button">Field Example</a>
                </button>
            </div>
			 <div class="wrap">
                <button type="submit">
					<a href="/farmer" class="button">Farmer Example</a>
                </button>
            </div>
        
        
        <br>
     
    </div>
		
			
			
			
			
			
		
		</div>
	
	</div>
	
	
<body>
</body>
</html>
